.app-title { margin-top: 4rem; }

#installed_plugins { border: none; width: 100%; }

/*
INSTALLED PLUGINS - IFRAME
*/

.plugin { padding: 1rem 1.5rem; border-bottom: solid 1px lightgray; margin-bottom: 10px; }
.plugin.red { opacity: 0.6; }
.plugin.red .actions .button.export,
.plugin.red .actions .button.upload { display: none !important; }
.plugin.red .name:after { content: "corrupted"; color: red; margin-left: 10px; font-size: 80%; }
.plugin .name { font-weight: bold; font-size: 115%; cursor: pointer; }
.plugin .actions { float: right; }
.plugin .actions .button { margin: 0; }
.plugin .components,
.plugin .dependencies { margin-top: 1.5rem; padding: 0 1rem; }
.plugin .bgred { color: red; }
.plugin:not(.expand) .components,
.plugin:not(.expand) .dependencies { display: none; }
.plugin .uninstall.button { 
    background-color: transparent;
    padding: 0;
    margin: 0;
    border: none; display: inline;
}