* { box-sizing: border-box; }

html { font-family: verdana; }
body { position: relative; }

html, body, #GUI_BODY, #GUI_BODY_WRAPPER {
    /* height: 100%; */
}

#GUI_BODY_WRAPPER { 
    position: relative; 
    background-color: #f1f1f1;
}
#GUI_BODY {
    background-color: white;
    padding-bottom: 40px;
}
#GUI_FOOTER {
    padding: 40px 20px;
}

#GUI_NAVBAR { 
    width: 100%;
    overflow: auto;
    text-align: left;
}
#GUI_USER {
    font-size: 24px; line-height: 1;
}
#GUI_USER > .name { margin-right: 5px; }
#GUI_USER > .fa-sign-out { border: none; padding: 0; margin: 0; }
#GUI_NAVBAR:hover {  }
#GUI_NAVBAR .navbar-button,
#GUI_USER .navbar-button { 
    position: relative; color: gray; 
    padding: 13px 17px; font-size: 24px;
    display: inline-block;
    background: none; vertical-align: top; border: none; 
    cursor: pointer; 
    margin: 0;
    color: #f1f1f1;
    transition: all 0.4s ease;
}
#GUI_NAVBAR .navbar-button:hover,
#GUI_USER .navbar-button:hover { color: #001f3f; background-color: white; }
#GUI_NAVBAR form { margin: 0; }
#GUI_NAVBAR .separator,
#GUI_USER .separator { 
    height: 50px;
    display: inline-block; 
    vertical-align: top;
    margin: 0 5px;
    border-right: solid 1px #f1f1f1;
}

@media (orientation: portrait) {
    
}

.Quasar-Field-Error { color: #C04442; }
.Quasar-Field-Error + .quasar-error { margin-bottom: 1.5rem; }
.quasar-error + .Quasar-Field-Error { margin-bottom: 1.5rem; }
input.quasar-error,
select.quasar-error,
textarea.quasar-error { border-color: #C04442; margin-bottom: 0;  }
